
@model IEnumerable<TrackTraining.DBModels.Rekorder2>


@{
    ViewBag.Title = "About";
}

<h2>Leaderboards</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <tr >
            <th>Plads</th>
            <th>Bruger</th>
            <th>Øvelse</th>
            <th>Gentagelser</th>
            <th>Dato</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr class="Leadreko">
                <td id="number">1</td>
                <td>@item.AspNetUser.UserName</td>
                <td>@item.Ovelser.OvelseNavn</td>
                <td>@item.Gentagelser</td>
                <td>@item.dato.ToShortDateString()</td>

            </tr>
        }


    </table>
</div>

