@model IEnumerable<TrackTraining.DBModels.Rekorder2>

@{
    ViewBag.Title = "About";
}
<h2>Leaderboards</h2>

<table style="width:100%">

    <tr>
        <th>Bruger</th>
        <th>Øvelse</th>
        <th>Gentagelser</th>
        <th>Dato</th>

    </tr>
    @foreach (var item in Model)
    {

<tr>

    <td> @item.BrugerId</td>
    <td>@item.OvelseId</td>
    <td>@item.Gentagelser</td>
    <td>@item.dato.ToShortDateString()</td>


</tr>

    }


</table>