@model TrackTraining.DBModels.Rekorder2
@{
    ViewBag.Title = "Contact";
}

<div id="progressCont">
    <div id="line-chart"></div>
    <div>
        <br />
        <br />
        <h2>Ny personlig rekord?</h2>

        <label for="RepDato">Dato:</label><br />

        <input placeholder="YYYY.MM.DD" type="text" id="RepDato" name="RepDato"><br />

        <label for="MaxReps">Gentagelser:</label> <br />
        <input type="text" id="MaxReps" name="MaxReps">

        <button id="safeRecord">Update Data</button>

    </div>



</div>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Gentagelser)
}

<!-- https://developers.google.com/chart/interactive/docs/quick_start -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    const lineChart = {
        chart: null,
        data: [
            ['Time', 'Gentagelser'],
            ['2015', 5752],
            ['2016', 5621],
            ['2017', 5876],
            ['2018', 6585],
            ['2019', 6100]
        ],
        element: '#line-chart',
        options: {
            title: 'Armbøjninger',
            width: 1000,
            height: 500,
            // curveType: 'function' //blødgør kurven

        }
    };

    const init = () => {

        lineChart.chart = new google.visualization.LineChart(
            document.querySelector(lineChart.element)
        );
        lineChart.chart.draw(
            google.visualization.arrayToDataTable(lineChart.data),
            lineChart.options
        );
    };


    google.charts.load('current', {
        packages: ['corechart'],
        callback: init
    });



    document.querySelector('#safeRecord').addEventListener('click', () => {
        // var unixDate = Math.floor(new Date($("input[name='RepDato']").val()).getTime() / 1000)//skaffer unix-timestamp ud fra input
        // console.log(unixDate);
        var Gentagelser = $("input[name='MaxReps']").val()
        var date = $("input[name='RepDato']").val()
        //return (Gentagelser, date);
    }

    /*document.querySelector('#update-line-chart').addEventListener('click', () => {



        lineChart.data = [
            ['Time', 'Gentagelser'],
            ['2015', 9],
            ['2016', 99],
            ['2017', 999],
            ['2018', 9999],
            ['2019', 99999]
        ];
        lineChart.chart.draw(
            google.visualization.arrayToDataTable(lineChart.data),
            lineChart.options
        );
    });*/


</script>