@model IEnumerable<TrackTraining.DBModels.Rekorder2>

@{
    ViewBag.Title = "Contact";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>
<div id="progressCont">
    <div id="line-chart"></div>
    <div>
        <br />
        <br />
        <h3>Ny personlig rekord?</h3>
        <div class="rekoInput">
            <label for="RepDato">Dato</label><br />

            <input placeholder="YYYY-MM-DD" type="text" id="RepDato" name="RepDato">
        </div>
        <div class="rekoInput">
            <label for="MaxReps">Gentagelser</label> <br />
            <input type="text" id="MaxReps" name="MaxReps">
        </div>
       
        <div style="display:flex; flex-direction:row; ">
            <button id="saveRecord">Gem</button>
            <p id="Psaved">Rekorden er gemt!</p>
        </div>

    </div>
    <script>


        $('#saveRecord').click(function () {
            var Gentagelser = $('#MaxReps').val();//tildeler variablen Gentagelser gentagelserne som brugeren har skrevet
            var Dato = $('#RepDato').val(); //tildeler variablen Dato datoen som brugeren har skrevet

            if (Gentagelser && Dato !=" ") {//hvis hverken variablen Gentagelser eller Dato er = NULL køres koden
                $if (Gentagelser && Dato !=" ") {//hvis hverken variablen Gentagelser eller Dato er = NULL køres koden
                $.ajax({//benytter ajax-metode til at få dataen ind til HomeControllern 

                    type: "POST",//erklærer typen
                    dataType: "JSON",//erklærer datatypen
                    url: "/Home/Contact",//erklærer URL
                    data: {

                        Gentagelser: Gentagelser, date: Dato//sætter de nyerklæret variabler lig med variablerne fra HomeControllern
                    },

                });
            }
            }

            $("#Psaved").show()//kontrolbesked vises til brugeren for at vise at dataen er gemt
            $('#MaxReps').val('');
            $('#RepDato').val('');
        })



    </script>


</div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    const lineChart = {
        chart: null,
        data: [
        ['Time', 'Gentagelser'],
        @if (Model.Count() > 0)//hvis der er data i databasen køres koden
        {
            var firstDate = Model.First().dato;
            foreach (var rekord in Model)//for hver row(rekord) i databasen køres koden
            {
                var dage = (rekord.dato - firstDate).TotalDays.ToString();//finder forholdet mellem den datoen og den første dato(firstDate)
                <text>
            [@dage, @rekord.Gentagelser],//plotter Gentagelser ift. dage på grafen

                </text>
            }
        }
        ],
        element: '#line-chart',
        options: {
            title: 'Armbøjninger',

         width: 900,
            height: 500,
            curveType: 'function', //blødgør kurven
        }
    };

    const init = () => {

        lineChart.chart = new google.visualization.LineChart(
            document.querySelector(lineChart.element)
        );
        lineChart.chart.draw(
            google.visualization.arrayToDataTable(lineChart.data),
            lineChart.options
        );
    };
    google.charts.load('current', {
        packages: ['corechart'],
        callback: init
    });

</script>
<div id="chart_div"></div>
<script>
    /* The vast majority of this code comes from
   https://developers.google.com/chart/interactive/docs/events
*/

    // Load the Visualization API and the piechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'dage');
        data.addColumn('number', 'gentagelser');
        data.addRows([
              @if (Model.Count() > 0)//hvis der er data i databasen køres koden
              {

                  var firstDate = Model.First().dato;

                  foreach (var rekord in Model)//for hver row(rekord) i databasen køres koden
                  {
                      var dage = (rekord.dato - firstDate).TotalDays.ToString();//finder forholdet mellem den datoen og den første dato(firstDate)

                      var kk = rekord.dato.ToShortDateString().Replace("-", "-");



                <text>
            [new Date('@kk'), @rekord.Gentagelser],//plotter Gentagelser ift. dage på grafen

                </text>
                  }
               }
        ],
        );



        // Set chart options
        var options = {
            title: 'Armbøjninger',
            pointSize: 30,
            width: 900,
            height: 500,
            curveType: 'function', //blødgør kurven
            hAxis: {
                format:"yyyy",
                gridlines: { count: 15 }
            },
            vAxis: {
                gridlines: { color: 'none' },
                minValue: 0
            }
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            var name = "";

            if (selectedItem) {
                name = data.getValue(selectedItem.row, 0);
                kk = data.getValue(selectedItem.row, 1);

                if (confirm("Really remove the " + name + " "+  kk + " data point?")) {
                    data.removeRow(selectedItem.row);
                    $.ajax({//benytter ajax-metode til at få dataen ind til HomeControllern

                        type: "POST",//erklærer typen
                        dataType: "JSON",//erklærer datatypen
                        url: "/Home/Contact2",//erklærer URL
                        data: {

                            Gentagelser: kk,
                            date: name//sætter de nyerklæret variabler lig med variablerne fra HomeControllern
                        },

                    });
                    chart.draw(data,options);
                }
            }
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);
        chart.draw(data, options);
    }
</script>