@model IEnumerable<TrackTraining.DBModels.Rekorder2>
@using TrackTraining.DBModels

@*@model TrackTraining.DBModels.Rekorder2*@
@{
    ViewBag.Title = "Contact";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>
<div id="progressCont">
    <div id="line-chart"></div>
    <div>
        <br />
        <br />
        <h2>Ny personlig rekord?</h2>

        <label for="RepDato">Dato:</label><br />

        <input placeholder="YYYY.MM.DD" type="text" id="RepDato" name="RepDato"><br />

        <label for="MaxReps">Gentagelser:</label> <br />
        <input type="text" id="MaxReps" name="MaxReps">

        <button id="safeRecord">Update Data</button>

    </div>
    <script>


        $('#safeRecord').click(function () {
            var Gentagelser = $('#MaxReps').val();
            var Dato = $('#RepDato').val();
            console.log("@ViewBag.FørsteRep");
            if (Gentagelser && Dato !=" ") {
                $.ajax({

                    type: "POST",
                    dataType: "JSON",
                    url: "/Home/Contact",
                    data: {

                        Gentagelser: Gentagelser, date: Dato
                    },

                });
            }
           
        })

    </script>


</div>


 https://developers.google.com/chart/interactive/docs/quick_start
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    const lineChart = {
        chart: null,
        data: [
            ['Time', 'Gentagelser'],
            ['2015', 5752],
            ['2016', 5621],
            ['2017', 5876],
            ['2018', 6585],
            ['2019', 6100]
        ],
        element: '#line-chart',
        options: {
            title: 'Armbøjninger',
            width: 1000,
            height: 500,
            // curveType: 'function' //blødgør kurven

        }
    };

    const init = () => {

        lineChart.chart = new google.visualization.LineChart(
            document.querySelector(lineChart.element)
        );
        lineChart.chart.draw(
            google.visualization.arrayToDataTable(lineChart.data),
            lineChart.options
        );
    };


    google.charts.load('current', {
        packages: ['corechart'],
        callback: init
    });



    document.querySelector('#safeRecord').addEventListener('click', () => {
        
        var unixDate = Math.floor(new Date().getTime() / 1000)//skaffer unix-timestamp ud fra input
        console.log(unixDate)
        //var Gentagelser = $("input[name='MaxReps']").val()
        //var date = $("input[name='RepDato']").val()
        //return (Gentagelser, date);
    });

    document.querySelector('#update-line-chart').addEventListener('click', () => {



        lineChart.data = [
            ['Time', 'Gentagelser'],
            ['2015', 9],
            ['2016', 99],
            ['2017', 999],
            ['2018', 9999],
            ['2019', 99999]
        ];
        lineChart.chart.draw(
            google.visualization.arrayToDataTable(lineChart.data),
            lineChart.options
        );
    });


</script>