@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="~/Index.css" rel="stylesheet" />
    <title>TYT</title>
</head>
<body>
    @* Sitename, slogan, billede *@
    <section class="siteName">
        <div class="container grid">
            <div class="Nameslogan">
                <h1>
                    <span class="ptName">T</span>rack
                    <br>
                    <span class="ptName">Y</span>our
                    <br>
                    <span class="ptName">T</span>raining
                </h1>
                <h2 class="Slogan">Where ever, when ever</h2>
                @if (Request.IsAuthenticated)//"Hvis personen er logget ind..."
                {
                    //knapperne vises ikke hvis brugeren er logget ind
                }
                else
                {

                    <button type="button" onclick="location.href='@Url.Action("register", "Auth")'" class="btn btn-primary me-3" style="height:50px; ">
                        Sign up for free
                    </button>

                    <div>
                        <p class="konto">Har du allerede en konto?  <span> <a href="@Url.Action("login", "auth")">Login</a></span></p>
                    </div>
                }
            </div>
            <div class="graph">
                <img src="~/Billeder/ezgif.com-gif-maker.gif" />
            </div>
            
        </div>

    </section>
    @*<div class="IndexContainer">
        <div class="kkkk">
            <div id="NameSlogan">
                

                <div class="SloganCont">
                    
                </div>
               

            </div>




        </div>
        

       
    </div>*@
</body>
</html>
