@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <title>TYT</title>
</head>
<body>
    <div class="IndexContainer">
        <div class="kkkk">
            <div class="topContainer">
                <h1 class="siteName">
                    <span style="color: #0073CA;">T</span>rack
                    <br>
                    <span style="color: #0073CA;">Y</span>our
                    <br>
                    <span style="color: #0073CA;">T</span>raining
                </h1>

                <div class="SloganCont">
                    <h2 id="Slogan">Where ever, when ever</h2>
                </div>


            </div>

            <div class="chart">
                <img id="startchart" src="~/images/capture.png" alt="graf" />
            </div>
        </div>
            
        

        <div class="SignUp">
             <a class="signupp" href="/Home/Index">Sign up</a> 
        </div>
        <div>
            <p class="konto"><b>Har du allerede en konto?</b>  <span> <a class="LoginBtn"> Login her</a></span></p>
        </div>
        
    </div>
</body>
</html>
