@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>TYT</title>
</head>
<body>
    <div class="IndexContainer">
        <div class="kkkk">
            <div id="NameSlogan">
                <h1 class="siteName">
                    <span class="ptName">T</span>rack
                    <br>
                    <span class="ptName">Y</span>our
                    <br>
                    <span class="ptName">T</span>raining
                </h1>

                <div class="SloganCont">
                    <h2 id="Slogan">Where ever, when ever</h2>
                </div>
                @if (Request.IsAuthenticated)//"Hvis personen er logget ind..."
                {
                    //knapperne vises ikke hvis brugeren er logget ind
                }
                else
                {
            <a href="@Url.Action("register", "auth")">
                <button type="button" class="btn btn-primary me-3" style="height:70px; margin:40px 0 0px 0;">
                    Sign up for free
                </button>
            </a>
                    <div>
                        <p class="konto">Har du allerede en konto?  <span> <a href="@Url.Action("login", "auth")">Login</a></span></p>
                    </div>
                }

            </div>


            <img id="RunMan" src="https://www.transparentpng.com/thumb/fitness/hxIU0n-download-fitness-png.png" />


        </div>
        <div id='scrolly'>
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
            <img class="srlimg" src="~/Images/Capture.PNG" />
        </div>

       
    </div>
</body>
</html>
