@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>TYT</title>
</head>
<body>
    <div id="IndexContainer">
        <div>
            <div id="topContainer">
                <h1 class="siteName"><span style="color: #0073CA;">T</span>rack<br><span style="color: #0073CA;">Y</span>our<br><span style="color: #0073CA;">T</span>raining</h1>

                <img id="startChart" src="~/Images/Capture.PNG" alt="Graf" />

            </div>
            <div id="SloganCont">
                <h2 id="Slogan">Where ever, when ever</h2>
            </div>
        </div>
        <div id="SignUp">
            <p> Sign up </p>
        </div>
        <p>Har du allerede en konto   <div class="LoginBtn"> Login</div></p>
    </div>
</body>
</html>
