@{
    ViewBag.Title = "Ovelser Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Øvelser</title>
</head>
<body>
    <h2 class="øvelseName">Primære øvelser</h2>

    <div class="Ovelsewrapper">

        @for (int i = 0; i < 5; i++)
        {
            <div class="ovelsediv" style="background-image: ;">
                <p class="OvelseNam">Navn på øvelse </p>
            </div>

        }
    </div>
    <h2 class="øvelseName">Andre øvelser</h2>
    <div class="Ovelsewrapper">
        @for (int i = 0; i < 8; i++)
        {
            <div class="ovelsediv" style="background-image: ;">
                <p class="OvelseNam">Navn på øvelse </p>
            </div>

        }
    </div>
</body>
</html>
