@{
    ViewBag.Title = "Ovelser Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Øvelser</title>
</head>
<body>
    <div id="Ovelsewrapper">

        @for (int i = 0; i < 11; i++)
        {
            <div class="ovelsediv" style="background-image: ;">
                <p class="OvelseNam">Navn på øvelse </p>
            </div>

        }
    </div>
</body>
</html>
