@model IEnumerable<TrackTraining.DBModels.Ovelser>
@using TrackTraining.DBModels
@{
    ViewBag.Title = "Ovelser Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Øvelser</title>
</head>
<body>
    <h2 class="øvelseName">Primære øvelser</h2>

    <div class="Ovelsewrapper">

        @foreach (Ovelser o in ViewBag.Primære)
        {
        <div class="ovelsediv" style="background-image: url( @o.Billede )">
            <a class="OvelseNam" href="@Url.Action(
    "Øvelser", "Home", new RouteValueDictionary(new { ovelseId =o.OvelseId })
    )">
                <p class="OvelseNam">@o.OvelseNavn </p>

            </a>
            
            

        </div>
           
        }

        <script>

        </script>

    </div>
    <h2 class="AndreØvl">Andre øvelser</h2>
    <div class="Ovelsewrapper">
        @for (int i = 0; i < 8; i++)
        {
            <div class="ovelsediv" style="background-image: ;">
                <p class="OvelseNam">Navn på øvelse </p>
            </div>

        }
    </div>
</body>
</html>
