@model TrackTraining.Models.ExerciseData

@{
    ViewBag.Title = "Øvelser";

}


<h1>@Model.name</h1>

<div>

    <img style="max-height:450px;" src=" " />

</div>
<div id="progressCont">
    <div id="line-chart"></div>
    <div>
        <br />
        <br />
        <h3>Ny personlig rekord?</h3>
        <div class="rekoInput">
            <label for="RepDato">Dato</label><br />

            <input placeholder="YYYY-MM-DD" type="text" id="RepDato" name="RepDato">
        </div>
        <div class="rekoInput">
            <label for="MaxReps">Gentagelser</label> <br />
            <input type="text" id="MaxReps" name="MaxReps">
        </div>

        <div style="display:flex; flex-direction:row; ">
            <button id="saveRecord">Gem</button>
            <p id="Psaved">Rekorden er gemt!</p>
        </div>

    </div>
    <script>


        $('#saveRecord').click(function () {
            var Gentagelser = $('#MaxReps').val();//tildeler variablen Gentagelser gentagelserne som brugeren har skrevet
            var Dato = $('#RepDato').val(); //tildeler variablen Dato datoen som brugeren har skrevet


            if (Gentagelser && Dato != " ") {//hvis hverken variablen Gentagelser eller Dato er = NULL køres koden
                $.ajax({//benytter ajax-metode til at få dataen ind til HomeControllern

                    type: "POST",//erklærer typen
                    dataType: "JSON",//erklærer datatypen
                    url: "/Home/Contact",//erklærer URL til endpointet, som er HomeControllern 
                    data: {
                        Gentagelser: Gentagelser,
                        date: Dato,      //er de nyerklæret variabler lig med variablerne fra ExerciseData
                        Id: @Model.id,
                    },

                });
            }

            $("#Psaved").show()//kontrolbesked vises til brugeren for at vise at dataen er gemt
            $('#MaxReps').val('');
            $('#RepDato').val('');

        })



    </script>


</div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    const lineChart = {
        chart: null,
        data: [
        ['Dage', 'Gentagelser'],
        @if (Model.data.Count() > 0)//hvis der er data i databasen køres koden
        {
            var firstDate = Model.data.First().dato;
            foreach (var rekord in Model.data)//for hver row(rekord) i databasen køres koden
            {
                var dage = (rekord.dato - firstDate).TotalDays.ToString();//finder forholdet mellem den datoen og den første dato(firstDate)
                <text>
            [@dage, @rekord.Gentagelser],//plotter Gentagelser ift. dage på grafen

                </text>
            }
        }else
            {
              <text>
            [0, 0],//hvis der ikke er noget data bliver der indsat et punkt i 0.0 

                </text>
            }
        ],
        element: '#line-chart',
        options: {
            title: '',

        width: 900,
            height: 500,
            curveType: 'function', //blødgør kurven
        }
    };

    const init = () => {

        lineChart.chart = new google.visualization.LineChart(
            document.querySelector(lineChart.element)
        );
        lineChart.chart.draw(
            google.visualization.arrayToDataTable(lineChart.data),
            lineChart.options
        );
    };
    google.charts.load('current', {
        packages: ['corechart'],
        callback: init
    });

</script>



