 @model IEnumerable<TrackTraining.DBModels.Ovelser>
    @using TrackTraining.DBModels
    @{
        ViewBag.Title = "Øvelser";
    }

    @foreach (Ovelser o in ViewBag.ovelse)
    {
<div>
    <h1>@o.OvelseNavn </h1>

    <img  style="max-height:450px;" src="@o.Billede" />





</div>
    }