body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.IndexContainer {
    display:flex;
    flex-direction:column;
    
}
.kkkk{
    display:flex;
    justify-content:center;
    margin:1rem;
}
.topContainer {
  max-width:100%
  
    
}
.chart {
  
}
#startchart {
    
}
.siteName {
  font-size:4rem;
}


.Slogan {
    font-size: 3rem;
    color: #0073CA;
}
.SloganCont {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.startChart {
    width: 735px;
    height: 25.5rem;
    margin-top:20px;
    margin-left: -10rem;
}
/*#SignUp {
    height: 9rem;
    width: 20rem;
    background-color: #0073CA;
    transform: translateY(-8rem);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size:2rem;
}
*/
.signupp:hover {
    background-color: #005EA5;
}

.LoginBtn {
    height: 2.2rem;
    background-color: #0073CA;
    width: fit-content;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    color:#ffffff;
}