body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*.IndexContainer {
    display:flex;
    flex-direction:column;
    
}
.kkkk{
    display:flex;
    justify-content:center;
    margin:0;
}
#RunMan{
    width: 250px;
    height:auto;
}


.siteName {
    font-size: 4rem;
    
}
.ptName {
    color: #0073CA;
}

.Slogan {
    font-size: 3rem;
    color: #0073CA;
}
.SloganCont {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.startChart {
    width: 735px;
    height: 25.5rem;
    margin-top:20px;
    margin-left: -10rem;
}
#signup {
    background-color: #0073CA;
    justify-content: center;
    color: #ffffff;
    width: 140px;
    height: 60px;
    font-size: 19px;
    margin: 20px 0px 5px 0px;
}

#signup:hover {
    background-color: #005EA5;
}

.LoginBtn {
    width: fit-content;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    color: #0073CA;
    text-decoration:none;
}
    .LoginBtn:hover {
        color: #005EA5;
    }
.btn-primary {
    background-color: #0073CA;
}
    .btn-primary:hover {
        background-color: #005EA5;
    }*/

#User {
    height: 45px;
    width: fit-content;
    flex-direction: row-reverse;
    padding: 10px 0px;
    cursor: pointer;
    padding-left: 0;
}

.Ovelsewrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}


.ovelsediv{
    background-color:black;
    height:200px;
    width:200px;
    min-width:200px;
    flex-grow: 1;
    background-size:cover;
    display:grid;
}
.ovelsediv:hover .OvelseNam {
    opacity: 1;

}
.OvelseNam {
    place-self: center;
    opacity: 0;
    color: white;
}

.øvelseName{
    margin-top: 20px;
}

.line-chart{
    height:100px;
    width:auto;
}