@model TrackTraining.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())//Starter en ny form 
{
    @Html.EditorForModel()//Indsætter et HTML input element for hver variable i modellen(modellen er som ses øvest "LogInModel")
    <p>
        <button type="submit">Register</button>
    </p>
}